.hero-section {
    background-image: url("../pictures/pexels-august-de-richelieu-4427612.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: white;
    text-align: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-section h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Add the text shadow */
  }

  .hero-section .btn-primary {
    background-color: grey;
    border-color: grey;
  }
  
  .hero-section .btn-primary:hover {
    background-color: black;
    border-color: black;
  }
  

  .features-section {
    background-color: #f7f7f7;
    padding: 80px 0;
  }
  
  .feature-box {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .feature-box i {
    font-size: 48px;
    margin-bottom: 20px;
    color: black;
  }
  
  .cta-section {
    background-color: black;
    padding: 100px 0;
    color: white;
    text-align: center;
  }
  
  .cta-section h2 {
    margin-bottom: 40px;
  }
  
  .cta-section .btn-primary {
    background-color: grey;
    border-color: grey;
  }
  
  .cta-section .btn-primary:hover {
    background-color: white;
    border-color: white;
    color: black;
  }
  
